h1{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: aqua;
}
*{
  background-color: bisque;
}

#ii{
  display: flex;
  justify-content: center;
  color: darkred;
}
h2{
  display: flex;
  justify-content: center;
}
h3{
  display: flex;
  justify-content: center;
}
h4{
  display: flex;
  justify-content: center;
}
img{
  display: flex;
  margin-left: 500px;
  width: 30%;
}


